PROMPTOS_FRONTEND_PORT=3000
PROMPTOS_BACKEND_PORT=8080
PROMPTOS_MYSQL_PORT=3307
PROMPTOS_REDIS_PORT=6380
PROMPTOS_JWT_SECRET=change-this-jwt-secret
PROMPTOS_JWT_EXPIRE_HOURS=72
PROMPTOS_UPLOAD_PROVIDER=local
PROMPTOS_UPLOAD_BASE_URL=http://localhost:8080
PROMPTOS_UPLOAD_MAX_MB=10
PROMPTOS_R2_ACCOUNT_ID=
PROMPTOS_R2_ACCESS_KEY_ID=
PROMPTOS_R2_SECRET_ACCESS_KEY=
PROMPTOS_R2_BUCKET=
PROMPTOS_R2_PUBLIC_URL=
